<mat-card>
  <mat-card-content>
    <div class="example-container">
      <mat-form-field>
        <input matInput [(ngModel)]="alarm.name" placeholder="Alarmnaam">
      </mat-form-field>

      <mat-form-field>
        <mat-label>Initiële status</mat-label>
        <mat-select [(ngModel)]="alarm.status">
          <!-- TODO: Generate options -->
          <mat-option value="{{alarmStatus.Inactive}}">RedConnect 50Mb</mat-option>
          <mat-option value="{{alarmStatus.Disconnected}}">RedConnect 100Mb</mat-option>
        </mat-select>
      </mat-form-field>

      <mat-action-list>
        <mat-list-item (click)="add()"> Toevoegen</mat-list-item>
        <mat-list-item (click)="clear()"> Standaardwaarden terugzetten</mat-list-item>
      </mat-action-list>
    </div>
  </mat-card-content>
</mat-card>
