<div *ngIf="alarm">
  <mat-card>
    <mat-card-title>Alarmnaam: {{alarm.name}}</mat-card-title>
    <mat-card-subtitle>ID: {{alarm.id}}</mat-card-subtitle>
    <mat-card-content>
      <mat-form-field>
        <mat-select [(ngModel)]="alarm.status" placeholder="{{alarmStatus[alarm.status]}}">
          <!-- TODO: Generate options -->
          <mat-option value="{{alarmStatus.Active}}">Actief</mat-option>
          <mat-option value="{{alarmStatus.Inactive}}">Inactief</mat-option>
        </mat-select>
      </mat-form-field>
      <button mat-button (click)="updateAlarm()">Alarmstatus aanpassen</button>
      <button mat-button (click)="updateAlarm()">Alarm verwijderen</button>
    </mat-card-content>
  </mat-card>
</div>
